body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: azure;
}

img {
    width: 50%;
}

h1 {
    font-size: 24px;
}

header {
    background-color: orange;
    color: black;
    text-align: center;
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    background-color: #f2f2f2;
    padding: 15px;
    margin: 15px;
    text-align: center;
}




@media (max-width: 600px) {
    header {
        background-color: #e74c3c;

    }
    h1 {
        font-size: 10px;
    }
    
}

@media (min-width: 601px) and (max-width: 1024px) {
    header {
        background-color: #27ae60;
    }
}

@media (min-width: 1025px) {
    .products {
        justify-content: flex-start;
    }

    .product {
        width: 30%;
        background-color: #3498db;
    }
}
